</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <% const generateYears = new Date();%>
  <% let time = generateYears.getFullYear(); %>
  <p>Copyright © <%= time  %></p>
</footer>
</body>

</html>